.DS_Store
fp-info-cache
*.swp
*.bak

*-backups

fw/*.d
fw/*.gen
fw/*.o
fw/*.glob
fw/reset
fw/monitor

gal/*.chp
gal/*.fus
gal/*.pin

?auto_saved_files?
_autosave*
* copy.*
*.zip
*.dsn
*.ses

cpu_card/*.stp
cpu_card/*.step
